## Welcome Robin to the Python World

# Python Basic Syntax and Semantics

In [7]:
## This is a single line comment
''' This is a multi-line comment
My name is Robin Jamal
I am a Data Analyst
I'm learning Python
print("Python is fun!")'''

' This is a multi-line comment\nMy name is Robin Jamal\nI am a Data Analyst\nI\'m learning Python\nprint("Python is fun!")'

In [9]:
## Python is case sensitive
variable = 10
Variable = "Hello"
print(variable)  # Output: 10
print(Variable)  # Output: Hello
print(type(variable))  # Output: <class 'int'>
print(type(Variable))  # Output: <class 'str'>

10
Hello
<class 'int'>
<class 'str'>

In [ ]:
## Indentation in Python
## In python indentation is very important and it is used to define the scope of loops, functions, classes, etc. It is mainly used to define the block of code.
age = 17
if age>= 18: ## This is a conditional statement and if condition is true then it will execute the block of code inside the if statement
    print("You are an adult")
else:
    print("You are a minor")
    print("You are not eligible for voting")

print("Please find your nearest polling station")

age = 27
if age>= 27:
    print("You are a fucked off old fella")
else:
    print("You are a young fella")
    print("Go fuck yourself")
    
print("Forget about Marrying a Girl cause you don't have teka poisha")

You are a minor
You are not eligible for voting
Please find your nearest polling station
You are a fucked off old fella
Forget about Marrying a Girl cause you don't have teka poisha

In [60]:
## Line Continuation
multiplication = 1*2*3*4*5*\
2
print(multiplication) 

name = "My name is Robin Jamal."" " "I'm 25 years old." " ""&" \
" ""You are not my friend."
print(name)

240
My name is Robin Jamal. I'm 25 years old. & You are not my friend.

In [53]:
x=5; y=6; z=(x*y) ## That's a multiple statement we can excute in python
print(z)
first_name="Md Robin "; surname="Jamal"; full_name= first_name + surname
print(full_name)
print(type(full_name))

30
Md Robin Jamal
<class 'str'>

In [55]:
# Type Inference
variable = 10
print(type(variable))
variable = "Name"
print(type(variable))
variable = 10.5
print(type(variable))

<class 'int'>
<class 'str'>
<class 'float'>

## Declaring and Assigning Variables

In [58]:
name = "Md Robin Jamal"
age = 25
height = 6
profession = "Student"
country = "Bangladesh"
print("Name:",name)
print("Age:",age)
print("Height:",height)
print("Profession:",profession)
print("Country:",country)

Name: Md Robin Jamal
Age: 25
Height: 6
Profession: Student
Country: Bangladesh

In [ ]:
## Naming convention
## The variable must start with a letter ideally lowercase or underscore
## The variable can contain letters, numbers, and underscores
## The variable name should not contain spaces
## The variable name should not start with a number
## The variable name should not be a reserved keyword in Python
## Python is case sensitive, so variable and Variable are different variables
## It is a good practice to use lowercase letters for variable names and use underscores to separate words

In [59]:
first_name = "Md Robin "  # Note the space after Robin
surname = "Jamal"
print(first_name + surname)

Md Robin Jamal

In [ ]:
## Invalid variable names
# 1st_name = "Md Robin"  # Invalid: starts with a number
# first-name = "Md Robin"  # Invalid: contains a hyphen
_myname = "Md Robin"  # Valid: starts with an underscore
# first name = "Md Robin"  # Invalid: contains a space
# @@first_name = "Md Robin"  # Invalid: contains special characters

In [63]:
name = "Md Robin Jamal" # string variable   
age = 25 # integer variable
height = 6.1 # float variable
profession = "Student" # string variable
country = "Bangladesh" # string variable
is_student = True # boolean variable

In [70]:
## Type Conversion
# Converting string to integer
str_num = "123"
int_num = int(str_num)
print(int_num)  # Output: 123
# Converting integer to string
int_num = 456
str_num = str(int_num)
print(str_num)  # Output: "456"
# Converting float to integer
float_num = 12.34
int_num = int(float_num)
print(int_num)  # Output: 12
# Converting integer to float
int_num = 78
float_num = float(int_num)
print(float_num)  # Output: 78.0
# Converting string to float
str_num = "45.67"
float_num = float(str_num)
print(float_num)  # Output: 45.67
# Converting float to string
float_num = 89.01
str_num = str(float_num)
print(str_num)  # Output: "89.01"
# Converting boolean to string
bool_value = True
str_value = str(bool_value)
print(str_value)  # Output: "True"
# Converting string to boolean
str_value = "False"
bool_value = bool(str_value)
print(bool_value)  # Output: True (non-empty string is considered True)
# Converting integer to boolean
int_value = 0
bool_value = bool(int_value)
print(bool_value)  # Output: False (0 is considered False)
# Converting float to boolean
float_value = 0.0
bool_value = bool(float_value)
print(bool_value)  # Output: False (0.0 is considered False)
# Converting boolean to integer
bool_value = True
int_value = int(bool_value)
print(int_value)  # Output: 1 (True is considered 1)
# Converting boolean to float
bool_value = False
float_value = float(bool_value)
print(float_value)  # Output: 0.0 (False is considered 0.0)

123
456
12
78.0
45.67
89.01
True
True
False
False
1
0.0

In [79]:
str_case = "70"
int_case = int(str_case)
print(int_case)  # Output: 70
# Converting string to integer
str_case = "100"
int_case = int(str_case)
print(int_case)  # Output: 100
#converting integer to string
int_case = 200
str_case = str(int_case)
print(str_case)  # Output: "200"
# Converting float to integer
float_case = 150.75
int_case = int(float_case)
print(int_case)  # Output: 150
# Converting integer to float
int_case = 300
float_case = float(int_case)
print(float_case)  # Output: 300.0
# Converting string to float
str_case = "250.50"
float_case = float(str_case)
print(float_case)  # Output: 250.5
# Converting float to string
float_case = 500.25
str_case = str(float_case)
print(str_case)  # Output: "500.25"
# Converting boolean to string
bool_case = True
str_case = str(bool_case)
print(str_case)  # Output: "True"
# Converting string to boolean
str_case = "False"
bool_case = bool(str_case)
print(bool_case)  # Output: True (non-empty string is considered True)

70
100
200
150
300.0
250.5
500.25
True
True

## Dynamic Typing

In [ ]:
## Dynamic Typing
# In Python, variables can change their type dynamically
variable = 10
print(type(variable))  # Output: <class 'int'>
variable = "Hello"
print(type(variable))  # Output: <class 'str'>
variable = 3.14
print(type(variable))  # Output: <class 'float'>
variable = True
print(type(variable))  # Output: <class 'bool'>

In [80]:
## Input function
# The input function allows you to take input from the user
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Your name is:", name)
print("Your age is:", age)

Your name is: Md Robin Jamal
Your age is: 25

In [85]:
## Creating a simple calculator
# This calculator performs basic arithmetic operations
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
else:
    result = "Error: Invalid operation"
print("Result:", result)

Result: 20.0

In [86]:
## Creating a simple calculator
num_1 = float(input("Enter your First Number: "))
num_2 = float(input("Enter your Second Number: "))

sum = num_1 + num_2
subtraction = num_1 - num_2
multiplication = num_1 * num_2
division = num_1 / num_2 if num_2 != 0 else "Cannot divide by zero"
print("Sum:", sum)
print("Subtraction:", subtraction)  
print("Multiplication:", multiplication)
print("Division:", division)

Sum: 73.0
Subtraction: 67.0
Multiplication: 210.0
Division: 23.333333333333332